@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
body{
  margin-top: 75px;
}
header{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: rgb(30, 73, 184);
  box-shadow:0 1px 15px rgb(110, 110, 110);
  z-index: 1;
}
input{
  width: 35%;
  height: 35px;
  text-indent: 10px;
}
select{
  width: 50px;
  height: 35px;
  margin-right: 10px;
}
button{
  width: 150px;
  height: 35px;
}
#kurs{
  position: relative;
width: 100%;
height: calc(100vh - 75px);
text-align: center;
line-height: 70vh;
font-family: 'Bungee Inline', cursive;
font-size: 100px;
background: rgb(24, 24, 24);
color: rgb(255, 60, 60);
z-index: 0;
}
